# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# .vscode
.vscode/

# python
__pycache__/
venv/
linuxenv/
deactivate/

# Byte-compiled / optimized / DLL files
__pycache__/

# Static File
static/

# map js
*.js.map
*.css.map

# dependencies
node_modules/

# production
build/

.deployment

# misc
npm-debug.log*

# redis disk
dump.rdb

# unofficial windows lib binary (you can get from pypi, works on linux)
vendor

# cython
*.c
*.h
*.so

# Bdist
PenilaianUjianEsaiOtomatis.egg-info
dist

# research data
data
template

# tools research dev
baca_data_latih.py
baca_data_uji.py
demo_cf_tokenizing.py
demo_skor_angka.py
demo_skor_huruf.py
demo_sorted_dict.py
demo_teks_preprocessing.py
demo_timedelta.py
penilaian_knn.py
test_set.py

#testing
test_ujian_app.db