# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# .vscode
.vscode/

# python
__pycache__/
venv/
linuxenv/
deactivate/

# Byte-compiled / optimized / DLL files
__pycache__/

# Static File
static/

# map js
*.js.map
*.css.map

# dependencies
node_modules/

# production
build/

.deployment

# misc
npm-debug.log*

# redis disk
dump.rdb

# unofficial windows lib binary (you can get from pypi, works on linux)
vendor

# cython
*.c
*.h

# research data
data
template